@model IEnumerable<grad2021.Models.AcademicYear>
<h1>@ViewData["Title"]</h1>

<p>في هذه الصفحة يمكنك القيام بتسجيل طلاب جدد أو احتساب درجات وتقديرات الطلاب، كما يمكنك أيضا عرض المخططات وطباعة التقارير</p>
<a href="~/Identity/Account/Register">تسجيل عضو جديد - طالب، عضو هيئة تدريس، إداري</a></br>
<a href="~/AcademicYears">قائمة الأعوام الدراسية</a><br/>
<a href="~/Reports">قائمة التقارير</a><br/>
<a href="~/EnterMarks">إدخال درجات الفصل الدراسي الأول للعام الدراسي @ViewData["thisYear"] / @ViewData["nextYear"]</a></br>
<a href="~/EnterMarks">إدخال درجات الفصل الدراسي الثاني للعام الدراسي @ViewData["thisYear"] / @ViewData["nextYear"]</a>
